@import url(mixins.less);

@font-face {
    font-family: 'Mont';
    src: url('../../fonts/font-name.woff2') format('woff2'),
        url('../../fonts/font-name.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont Book';
    src: url('../../fonts/font-name.woff2') format('woff2'),
        url('../../fonts/font-name.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
